@import '../../constants.scss';

.project {
    max-width: 480px;
    width: 80%;
    margin-bottom: 50px;

    @include mq(smartphone-large) {
        margin-bottom: 0;
    }
    @include mq(desktop-large) {
        margin: 0 10px;
    }
    figure {
        margin: 10px;


        .projectImg {
            position: relative;
            overflow: hidden;


            .buttons {
                position: absolute;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                height: 50%;
                width: 100%;
                top: -50%;
                background-color: rgba($color: $kashmirblue-color, $alpha: 0.6);
                border-radius: 10px 10px 50% 50%;
                transition: 0.3s;

                @media (pointer: coarse) {
                    top: 0%;
                }

                a {
                    font-size: 5rem;
                    color: $aeroblue-color;
                }
            }

            img {
                width: 100%;
                border-radius: 10px;
            }

        }



        .figcaption {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $midnight-color;
            min-height: 171px;
            border-radius: 10px;
            color: white;
            text-align: center;
            color: $aeroblue-color;
            cursor: default;

            h1 {
                margin: 10px 0 0 0;
            }

            p {
                font-size: 1rem;
                padding: 0 15px;

                @include mq (smartphone-medium) {
                    font-size: 1.4rem;
                }
            }

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding: 0;
                list-style: none;

                li {
                    margin: 0 5px 10px 0;
                    font-size: 0.9rem;
                    font-weight: 700;
                    background-color: $aeroblue-color;
                    color: $midnight-color;
                    border-radius: 10px;
                    padding: 6px;
                    text-transform: uppercase;

                    @include mq (smartphone-medium) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    figure:hover {
        .buttons {
            top: 0;
        }
    }
}