@import '../../constants.scss';

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background-color: $kashmirblue-color;
    border-radius: 0 0 80px;
    box-shadow: 0px 0px 15px 1px rgba(99, 234, 184, 1);
    z-index: 100;
    transition: 0.3s;
    // margin: 0;

    @include mq(smartphone) {
        height: 100px;
        width: 100px;
        border-radius: 0 0 100px;
    }

    @include mq(smartphone-large) {
        height: 80px;
        width: 80px;
        border-radius: 0 0 80px;
    }

    @include mq(tablet) {
        height: 90px;
        width: 90px;
        border-radius: 0 0 100px;
    }

    @include mq(tablet-large) {
        height: 100px;
        width: 100px;
        border-radius: 0 0 100px;
    }

    @include mq(desktop-small) {
        height: 130px;
        width: 130px;
        border-radius: 0 0 130px;
    }


    .navigation {
        display: none;
        margin: 0;
        padding: 0;
    }

    .menuButton {
        position: fixed;
        border: none;
        background-color: transparent;
        top: 30px;
        left: 30px;
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: 999;

        @include mq(smartphone) {
            top: 40px;
            left: 40px;
        }

        @include mq(smartphone-large) {
            top: 35px;
            left: 30px;
        }

        @include mq(tablet) {
            top: 40px;
            left: 40px;
        }

        @include mq(tablet-large) {
            top: 45px;
            left: 40px;
        }

        @include mq(desktop-small) {
            top: 55px;
            left: 50px;
        }

        &:focus {
            outline: transparent;
        }

        svg {
            color: white;
            font-size: 3rem;

            @include mq(smartphone) {
                font-size: 3.6rem;
            }

            @include mq(smartphone-large) {
                font-size: 3.4rem;
            }

            @include mq(tablet-large) {
                font-size: 4.2rem;
            }

            @include mq(desktop-small) {
                font-size: 5rem;
            }
        }
    }

}

.menu:hover {
    box-shadow: 0px 0px 15px 5px rgba(99, 234, 184, 1);
}

.menuOpened {
    @extend .menu;
    height: 70vh;
    width: 100vw;
    border-radius: 0 0 120vw;
    z-index: 998;

    @include mq(smartphone-large) {
        height: 80vh;
        width: 45vw;
    }

    @include mq(tablet) {
        height: 80vh;
        width: 40vw;
    }

    @include mq(tablet-large) {
        height: 60vh;
        width: 40vw;
    }

    @include mq(desktop-small) {
        height: 70vh;
        width: 40vw;
    }

    @include mq(desktop-large) {
        height: 60vh;
        width: 27vw;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 30vh;
        left: 35vw;
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;
        animation-name: fadeIn;
        animation-duration: 0.5s;

        @include mq(smartphone-large) {
            top: 40vh;
            left: 16vw;
        }

        @include mq(tablet-large) {
            top: 30vh;
            left: 15vw;
        }

        @include mq(desktop-small) {
            top: 35vh;
            left: 15vw;
        }

        @include mq(desktop-large) {
            top: 30vh;
            left: 9vw;
        }

        &__Item {
            padding: 9px 0;
            list-style: none;

            &__Link {
                display: block;
                color: white;
                text-decoration: none;
                font-size: 3.4rem;
                font-weight: 600;
                text-shadow: 0px 3px 6px #00203F;
                transition: .4s;

                @include mq(smartphone) {
                    font-size: 3.6rem;
                }

                @include mq(smartphone-medium) {
                    font-size: 4.4rem;
                    padding: 5px;
                }

                @include mq(smartphone-large) {
                    font-size: 2.6rem;
                }

                @include mq(tablet-large) {
                    font-size: 4.6rem;
                }

                @include mq(desktop-small) {
                    padding: 8px;
                    font-size: 5em;
                }

                @include mq(desktop-large) {
                    padding: 8px;
                    font-size: 3.2em;
                }


                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}

.menuOpened:hover {
    box-shadow: none;
}