@import '../../constants.scss';

nav {
    .navigation {
        position: absolute;
        top: 55vh;
        left: 50vw;
        transform: translateX(-50%);
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 999;

        @include mq(smartphone) {
            top: 58vh;
            left: 50vw;
        }

        @include mq(smartphone-large) {
            transform: translate(0, -50%);
            top: 50%;
            left: 68vw;
            align-items: flex-end;
            animation-name: fadeInRight;
            animation-duration: 1s;
        }

        @include mq(desktop-small) {
            top: 30vh;
        }

        @include mq(tablet-large) {
            left: 65%;
        }

        @include mq(desktop-small) {
            left: 68%;
            top: 50%;
        }

        &__Item {
            padding: 9px 0;
            list-style: none;

            @include mq(tablet) {
                padding: 12px 0;
            }

            @include mq(tablet-large) {
                padding: 16px 0;
            }

            @include mq(desktop-small) {
                line-height: 80px;
            }

            &__Link {
                display: block;
                color: white;
                text-decoration: none;
                font-size: 3rem;
                font-weight: 600;
                text-shadow: 0px 3px 6px #00203F;
                transition: .4s;

                @include mq(smartphone) {
                    font-size: 3.4rem;
                }

                @include mq(smartphone-medium) {
                    padding: 2px;
                    font-size: 4.6rem;
                }

                @include mq(smartphone-medium) {
                    padding: 0;
                    font-size: 3.4rem;
                }

                @include mq(tablet) {
                    font-size: 4.2rem;
                }

                @include mq(tablet-large) {
                    font-size: 6rem;
                }

                @include mq(desktop-small) {
                    padding: 5px;
                    font-size: 6.4rem;
                }

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}