@import '../../constants.scss';


.header {
    position: relative;
    height: 60vh;
    width: 100%;

    &__bottomShape {
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url("../../assets/shape_bg.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__topShapes {
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url("../../assets/circle_bg.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__text {
        position: absolute;
        top: 20vh;
        left: 6%;
        transform: translate(0, -50%);
        font-size: 3.6rem;
        font-weight: 600;
        color: white;
        text-shadow: 0px 3px 6px #00203F;
    }
}