@import '../../constants.scss';

.projects {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    min-width: 100vw;
    padding: 100px 0 100px 0;
    background: $gradientBackground-color;

    @include mq(tablet-large) {
        padding: 0;
    }
}