/*-----------------BREAKPOINTS-----------------*/

$breakpoints: (smartphone: (min-width: 375px),
    smartphone-medium: (min-width: 460px),
    smartphone-large: (min-width: 560px),
    tablet:(min-width: 800px),
    tablet-large:(min-width: 1024px),
    desktop-small:(min-width:1280px),
    desktop-medium:(min-width:1600px),
    desktop-large:(min-width:1900px),
);


/*----------------MIXINS-----------------*/
@mixin mq($breakpoint) {
    $size: map-get($breakpoints, $breakpoint);

    @if($size) {
        @media #{$size} {
            @content;
        }
    }
}

/*----------------COLORS-----------------*/

$midnight-color: #00203F;
$turquoiseblue-color: #63EAB8;
$aeroblue-color: #BBFFE6;
$kashmirblue-color: #496F95;
$cello-color: #224567;
$sanjuan-color: #315679;
$gradientBackground-color: linear-gradient(135deg, rgba(0, 255, 168, 1) 0%, rgba(114, 194, 255, 1) 100%);

/*----------------ANIMATIONS-----------------*/

@keyframes fadeInLeft {
    0% {
        transform: translate(-100%, -50%);
        opacity: 0;
    }

    49% {
        transform: translate(-100%, -50%);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        transform: translate(100%, -50%);
        opacity: 0;
    }

    100% {
        transform: translate(0, -50%);
        opacity: 1;
    }
}

@keyframes lightUpDown {
    0% {
        box-shadow: 0px 0px 15px 1px rgba(99, 234, 184, 1);
    }

    30% {
        box-shadow: 0px 0px 25px 10px rgba(99, 234, 184, 1);
    }

    50% {
        box-shadow: 0px 0px 20px 5px rgba(99, 234, 184, 1);
    }

    60% {
        box-shadow: 0px 0px 15px 5px rgba(99, 234, 184, 1);
    }

    100% {
        box-shadow: 0px 0px 15px 1px rgba(99, 234, 184, 1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}